<!--
<section class="row latest_projects sectpad projects-1">
    <div class="container">
        <div class="row m0 section_header">
            <h2>Ostatnie Realizacje</h2>
        </div>
        <div class="row m0 filter_row">
            <ul class="nav project_filter" id="project_filter2">
                <li class="active" data-filter="*">all</li>
                <li data-filter=".schody">Schody</li>
                <li data-filter=".drzwi">Drzwi</li>
                <li data-filter=".meble">Meble</li>
                <li data-filter=".pozostale">Pozostałe</li>
            </ul>
        </div>
        <div class="projects2 popup-gallery" id="projects">
            <div class="grid-sizer"></div>
            <div class="col-sm-6 col-xs-6 project indoor wood_supply" ng-repeat="project in projects">
                <div class="project-img">
                    <img ng-src="{[{ project.image.image }]}" alt="">
                    <div class="project-text">
                        <ul class="list-unstyled">
                            <li><a href="{[{ project.detail_url }]}"><i class="icon icon-Linked"></i></a></li>
                            <li><a href="{[{ project.image.image }]}" data-source="projects-details.html" title="{[{ project.name }]}" data-desc="{[{ project.short_desc }]}" class="popup"><i class="icon icon-Search"></i></a></li>
                        </ul>
                        <div class="row m0">
                            <a href="projects-details.html"><h3>{[{ project.name }]}</h3></a>
                            <p>{[{ project.short_desc }]}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
