<!--we-do-->
<section class="row sectpad we-do-section projects-1" id="services">
    <div class="container">
        <div class="row m0 section_header color">
            <h2>Usługi</h2>
        </div>
        <div class="we-do-slider">
            <div class="we-sliders">
                <div class="item" ng-repeat="service in services">
                    <div class="post-image">
                        <img ng-src="{[{service.image}]}" alt="">
                    </div>
                    <a href="#"><h4>{[{service.name}]}</h4></a>
                    <p>{[{service.desc}]}</p>
                </div>
            </div>
        </div>
    </div>
</section>
