DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=kajax.eu,www.kajax.eu,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://kajax.eu,https://www.kajax.eu
DJANGO_SITE_URL=https://kajax.eu
SQLITE_PATH=/app/data/kajax.db

KAJAX_CONTACT_EMAIL=mail@kajax.eu
KAJAX_LEAD_RECIPIENTS=mail@kajax.eu,mateuszdargacz@gmail.com,kajax-stolarstwo@o2.pl

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=Kajax Stolarstwo <mail@kajax.eu>

GTM_ID=
GA4_MEASUREMENT_ID=
GOOGLE_SITE_VERIFICATION=

PIECODE_LEAD_SYNC_ENABLED=false
PIECODE_LEAD_SYNC_LEAD_URL=https://piecode.pl/api/leads
PIECODE_LEAD_SYNC_EVENT_URL=https://piecode.pl/api/events
PIECODE_LEAD_SYNC_TIMEOUT_SECONDS=4
