@charset "UTF-8";
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #000;
  color: #8f8f8f;
  font: 300 15px/24px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #302e33;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #fd483e;
}

h2 {
  font-size: 270px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 5.4px;
  text-transform: uppercase;
}
h2 em {
  display: block;
  font-size: 24px;
  letter-spacing: 14.88px;
  margin-top: 72px;
}

h3 {
  font-size: 70px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (max-width: 479px) {
  h3 {
    font-size: 50px;
  }
}

h4 {
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 26px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.52px;
}

h6 {
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 5.4px;
}

p a:hover, .list a:hover {
  text-decoration: underline;
}
p .fa, .list .fa {
  text-decoration: none;
}

time {
  display: block;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:focus {
  outline: none;
}
a:active {
  background-color: transparent;
}

a[href^="tel:"],
a[href^="callto:"] {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.fa {
  line-height: inherit;
}

[class*='fa-']:before {
  font-weight: 400;
  font-family: "FontAwesome";
}

.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}

.center {
  text-align: center;
}

@media (max-width: 767px) {
  .mobile-center {
    text-align: center;
  }
}

.mg-add {
  margin-top: 14px;
}

/*=======================================================
                       Main Layout
=========================================================*/
* + .off1 {
  margin-top: 71px;
}

* + .off2 {
  margin-top: 65px;
}

* + .off3 {
  margin-top: 46px;
}

* + .off4 {
  margin-top: 87px;
}

* + .btn {
  margin-top: 71px;
}

.index-list + h3 {
  margin-top: 109px;
}

h3 + .row {
  margin-top: 63px;
}

h3 + .off1 {
  margin-top: 71px;
}

h3 + .product-list {
  margin-top: 37px;
}

h5 + p {
  margin-top: 27px;
}

img + h5 {
  margin-top: 22px;
}

.product-list + [class*="btn"] {
  margin-top: 66px;
}

.count + h5 {
  margin-top: 10px;
}

.count + h5 + .btn {
  margin-top: 46px;
}

@media (max-width: 767px) {
  p + [class*="btn"] {
    margin: 25px 0;
  }
}
/*=======================================================
                        Components
=========================================================*/
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
  text-align: center;
  color: #fff;
}
.brand_name {
  overflow: hidden;
  font-size: 55px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}
.brand_name a:hover {
  color: inherit;
}
.brand_slogan {
  margin-top: -4px;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 480px) and (max-width: 767px) {
  .brand_name {
    font-size: 36px;
  }
}
@media (max-width: 479px) {
  .brand_name {
    font-size: 30px;
  }
}

/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #fd483e;
}

.bg-image {
  background: url(../images/bg1.jpg) center no-repeat;
  background-size: cover;
}
.bg-image h3, .bg-image h5, .bg-image p {
  color: #fff;
}

/*==================     Icons     ======================*/
.fa-facebook-square,
.fa-twitter,
.fa-google-plus-square,
.fa-linkedin,
.fa-pinterest {
  font-size: 23px;
}

.icon {
  font-size: 46px;
  line-height: 1;
}

/*==================    Buttons    ======================*/
.btn {
  display: inline-block;
  width: 160px;
  padding: 17px 20px 19px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  letter-spacing: -0.24px;
  text-align: center;
  text-transform: uppercase;
  color: #302e33;
  background: #fff;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  color: #fff;
  background: #302e33;
  -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.4);
}
.btn:active {
  background: rgba(255, 255, 255, 0.5);
}

.btn2 {
  display: inline-block;
  width: 160px;
  padding: 16px 20px 18px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  letter-spacing: -0.24px;
  text-align: center;
  text-transform: uppercase;
  color: #302e33;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #8f8f8f;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn2:hover {
  color: #fff;
  background: #fd483e;
  border-color: #fd483e;
}
.btn2:active {
  color: #fff;
  background: #fd3025;
  border-color: #fd3025;
}

.btn_hover:hover {
  background: #fd483e;
}

.grid_3.btn_wr {
  text-align: right;
}
@media (max-width: 767px) {
  .grid_3.btn_wr {
    text-align: inherit;
  }
}

/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}

/*==================   Index List  ======================*/
.index-list {
  counter-reset: a;
}
.index-list li {
  width: 25%;
  display: inline-block;
  position: relative;
  padding-top: 107px;
  padding-bottom: 82px;
  text-align: center;
  background: transparent;
  z-index: 2;
}
.index-list li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: -1;
}
.index-list li img {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}
.index-list li + li {
  margin-left: -4px;
}
.index-list li a {
  position: relative;
}
.index-list li a:hover:before {
  color: #fd483e;
}
.index-list li a:before {
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  color: #8f8f8f;
  content: counter(a,decimal-leading-zero);
  counter-increment: a;
}
.index-list li p {
  padding: 0 28px;
  color: #8f8f8f;
}
.index-list li h5 {
  color: #302e33;
  font-weight: 500;
}
.index-list li h5 + p {
  margin-top: 26px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .index-list li {
    height: 360px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .index-list li {
    height: 444px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 979px) {
  .index-list li {
    padding-top: 0;
  }
  .index-list li img {
    position: static;
  }
  .index-list li a:before {
    position: static;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .index-list li h5 {
    font-size: 20px;
  }
  .index-list li p {
    font-size: 13px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .index-list li {
    width: 50%;
    height: 444px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 479px) {
  .index-list li {
    width: 100%;
    padding-bottom: 30px;
  }
}
.index-list li.grid_1:nth-child(12n + 13),
.index-list li.grid_2:nth-child(6n + 7),
.index-list li.grid_3:nth-child(4n + 5),
.index-list li.grid_4:nth-child(3n + 4),
.index-list li.grid_6:nth-child(2n + 3) {
  clear: left;
}

/*==================  Marked List  ======================*/
.marked-list li {
  position: relative;
  padding-left: 17px;
  text-align: left;
}
.marked-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: "FontAwesome";
  color: #fff;
}
.marked-list li + li {
  margin-top: 8px;
}
.marked-list a:hover {
  color: #fd483e;
}

/*================    Product List    ===================*/
.product-list li a {
  display: block;
  padding: 54px 17px 48px;
}
.product-list li a:hover {
  color: #fff;
  background: #fd483e;
}
.product-list li a:hover h5 {
  color: #fff;
}
.product-list li .icon + h5 {
  margin-top: 42px;
}
.product-list li h5 + p {
  margin-top: 24px;
}
.product-list li:nth-child(n+5) {
  border-top: 1px solid #f2f2f2;
}
.product-list li.grid_1:nth-child(12n + 13),
.product-list li.grid_2:nth-child(6n + 7),
.product-list li.grid_3:nth-child(4n + 5),
.product-list li.grid_4:nth-child(3n + 4),
.product-list li.grid_6:nth-child(2n + 3) {
  clear: left;
}
.product-list__mod1 li a {
  padding: 25px 17px 64px;
}

/*==================  Inline List  ======================*/
.inline-list li {
  display: inline-block;
}
.inline-list li + li {
  margin-left: 6px;
}
.inline-list a:hover {
  color: #302e33;
}

/*================   Background Image  ==================*/
.bg-img,
.bg-img2 {
  position: relative;
  color: #fff;
  overflow: hidden;
}
.bg-img h3,
.bg-img h5,
.bg-img2 h3,
.bg-img2 h5 {
  color: #fff;
}
.bg-img h3,
.bg-img2 h3 {
  letter-spacing: .4px;
}
.bg-img h3 + h5,
.bg-img2 h3 + h5 {
  margin-top: 69px;
}
.bg-img h3 + .off3,
.bg-img2 h3 + .off3 {
  margin-top: 46px;
}
.bg-img h3 + p,
.bg-img2 h3 + p {
  margin-top: 64px;
}
.bg-img h5 + p,
.bg-img2 h5 + p {
  margin-top: 23px;
}
.bg-img p + h5,
.bg-img2 p + h5 {
  margin-top: 34px;
}
.bg-img * + [class*="btn"],
.bg-img2 * + [class*="btn"] {
  margin-top: 82px;
}
.bg-img * + .marked-list,
.bg-img2 * + .marked-list {
  margin-top: 24px;
}
.bg-img img + h5,
.bg-img2 img + h5 {
  margin-top: 32px;
}
@media (max-width: 1199px) {
  .bg-img [class*="well"],
  .bg-img2 [class*="well"] {
    padding: 60px 0;
  }
  .bg-img h3,
  .bg-img2 h3 {
    font-size: 58px;
  }
  .bg-img h3 + h5,
  .bg-img2 h3 + h5 {
    margin-top: 36px;
  }
  .bg-img * + [class*="btn"],
  .bg-img2 * + [class*="btn"] {
    margin-top: 36px;
  }
}
@media (max-width: 479px) {
  .bg-img h3,
  .bg-img2 h3 {
    font-size: 47px;
  }
}

.bg-img {
  background: url(../images/bg1.jpg) center no-repeat;
  background-size: cover;
}
.bg-img > .img {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  bottom: 0;
  overflow: hidden;
}
.bg-img > .img img {
  height: 100%;
  max-width: none;
}
@media (max-width: 767px) {
  .bg-img > .img {
    position: static;
  }
}
.bg-img h5 a:hover {
  color: #302e33;
}
.bg-img .txt1 {
  padding-right: 185px;
}
.bg-img .txt2 {
  padding-right: 50px;
}
@media (max-width: 1199px) {
  .bg-img .txt1,
  .bg-img .txt2 {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .bg-img .txt1,
  .bg-img .txt2 {
    padding-right: 0;
  }
}
.bg-img__mod1 {
  background: url(../images/bg2.jpg) center no-repeat;
}

.bg-img2 {
  background: url(../images/bg2.jpg) center no-repeat;
  background-size: cover;
}
.bg-img2 > .img {
  position: absolute;
  top: 0;
  right: 50%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.bg-img2 > .img img {
  height: 100%;
  max-width: none;
}
@media (max-width: 767px) {
  .bg-img2 > .img {
    position: static;
  }
}
@media (max-width: 1199px) {
  .bg-img2 p {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .bg-img > .img img, .bg-img2 > .img img {
    height: auto;
    max-width: 100%;
  }
}

/*================        Post        ==================*/
.post {
  position: relative;
}
.post a {
  display: block;
}
.post a:before {
  content: "";
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.8) 100%);
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.post a:hover:before {
  top: 10%;
}
.post a:hover .post_cnt {
  bottom: 30px;
}
.post a:hover h5 {
  padding-bottom: 60px;
}
.post a img {
  width: 100%;
}
.post_cnt {
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  color: #fff;
  vertical-align: bottom;
  z-index: 2;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.post_cnt h5 {
  color: #fff;
  padding-bottom: 22px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.post time, .post .comments {
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
}
.post time:before, .post .comments:before {
  margin-right: 4px;
  font-size: 18px;
  font-family: "FontAwesome";
}
.post time:before {
  content: "\f017";
}
.post .comments:before {
  content: "\f075";
}
.post time + .comments {
  margin-left: 8px;
}

/*================        Info        ==================*/
.info address {
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
  color: #fd483e;
}
@media (max-width: 767px) {
  .info address br {
    display: none;
  }
}
.info dt,
.info dd {
  display: inline-block;
}
.info a[href^="callto:"]:hover, .info a[href^="mailto:"]:hover {
  color: #fd483e;
}
.info p + dl {
  margin-top: 16px;
}

/*================       Privacy       ==================*/
.privacy dt {
  font-size: 26px;
  font-weight: 400;
  line-height: 24px;
}
.privacy a:hover {
  color: #fd483e;
}
.privacy dt + dd {
  margin-top: 24px;
}
.privacy dd + dt {
  margin-top: 37px;
}
.privacy * + dl {
  margin-top: 70px;
}
.privacy * + a {
  display: inline-block;
  margin-top: 24px;
}

/*========================   Menu   ==========================*/
.sf-menu {
  padding-top: 27px;
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu > li + li {
  margin-left: 67px;
}
@media (min-width: 1199px) and (max-width: 1499px) {
  .sf-menu > li + li {
    margin-left: 40px;
  }
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  color: #FFF;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.38px;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fd483e;
}
.sf-menu > li.active > a {
  color: #fd483e;
}

.sf-menu ul {
  display: none;
  width: 234px;
  margin-top: 20px;
  padding: 38px 0;
  font-size: 14px;
  background: #fd483e;
  z-index: 99999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
.sf-menu ul:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #fd483e transparent;
}

.sf-menu > li > ul {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-left: -117px;
  position: absolute;
  top: 100%;
  left: 50%;
}

.sf-menu ul > li > a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 38px;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #302e33;
}

.sf-menu ul ul {
  position: static;
  top: 100%;
  width: auto;
  margin: 8px 0;
  padding: 18px 0;
  background: #302e33;
  z-index: 4;
}

.sf-menu ul ul > li > a {
  color: #FFF;
}
.sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
  color: #fd483e;
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}

.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666;
  background: #FFF;
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #fd483e;
  color: #FFF;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px "FontAwesome";
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #FFF;
  color: #666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
}
.rd-mobilemenu_ul ul ul a {
  padding-left: 60px;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}

.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #FFF;
  color: #000;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}

.rd-mobilepanel_title {
  position: fixed;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  margin: auto;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
  -moz-transform-origin: 1.71429px center;
  -ms-transform-origin: 1.71429px center;
  -o-transform-origin: 1.71429px center;
  -webkit-transform-origin: 1.71429px center;
  transform-origin: 1.71429px center;
}
.rd-mobilepanel_toggle.active span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
  top: 0;
  width: 15px;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}

@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }

  .rd-mobilemenu, .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}
/*==================  Stuck menu  ======================*/
.stuck_container {
  width: 100%;
  padding-top: 39px;
  padding-bottom: 46px;
}
.stuck_container:before, .stuck_container:after {
  display: table;
  content: "";
  line-height: 0;
}
.stuck_container:after {
  clear: both;
}

.camera + .stuck_container {
  padding-bottom: 0;
}

.isStuck {
  background: #302e33;
  z-index: 999;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.isStuck .sf-menu {
  padding-top: 0;
}
.isStuck .sf-menu ul {
  margin-top: 36px;
}
.isStuck .sf-menu ul ul {
  margin-top: 8px;
}
.isStuck .brand {
  display: none;
}
.isStuck .nav {
  float: none;
  margin-right: 0;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}
.camera_container + .stuck_container {
  position: absolute;
  top: 0;
  left: 0;
}

/*==================     ToTop     ======================*/
.toTop {
  width: 50px;
  height: 50px;
  font-size: 34px;
  line-height: 48px;
  color: #fd483e;
  background: #fff;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.3);
}
.toTop:hover {
  color: #fff;
  background: #fd483e;
  text-decoration: none;
}

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax h5 {
  color: #fff;
}
.parallax h2 {
  color: #fff;
}
.parallax_image, .parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .parallax h2 {
    font-size: 204px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .parallax h2 {
    font-size: 156px;
  }
}
@media (max-width: 767px) {
  .parallax h2 em {
    letter-spacing: 0;
    margin-top: 30px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .parallax h2 {
    font-size: 86px;
  }
}
@media (max-width: 479px) {
  .parallax h2 {
    font-size: 52px;
  }
  .parallax h2 em {
    font-size: 18px;
  }
}

.parallax1 h2 {
  letter-spacing: -2px;
}

/*==================   Thumbnail    ======================*/
.gallery {
  background: #fd483e;
}
.gallery:before, .gallery:after {
  display: table;
  content: "";
  line-height: 0;
}
.gallery:after {
  clear: both;
}

.thumb {
  display: block;
  position: relative;
  overflow: hidden;
  width: 33.33333333333333%;
  float: left;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: rgba(253, 72, 62, 0.3);
}
.thumb_overlay:before {
  content: "\f196";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  font-family: "FontAwesome";
  font-weight: 300;
  font-size: 60px;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover img {
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
.thumb:hover .thumb_overlay {
  opacity: 1;
}
.thumb:hover .thumb_overlay:before {
  top: 50%;
}
.thumb:hover .thumb_overlay_cnt {
  opacity: 1;
  top: 50%;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
@media (max-width: 979px) {
  .thumb {
    width: 50%;
  }
}
@media (max-width: 479px) {
  .thumb {
    width: 100%;
  }
}

.thumb2 {
  display: block;
  position: relative;
  overflow: hidden;
  width: 33.33333333333333%;
  float: left;
  text-align: center;
}
.thumb2 img {
  width: 100%;
  height: auto;
}
.thumb2_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff;
  background: #fd483e;
}
.thumb2_overlay_cnt {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  transition-delay: 0.1s;
  color: #fff;
}
.thumb2_overlay_cnt h5 {
  color: #fff;
}
.thumb2_overlay_cnt p {
  margin-top: 0px;
  display: inline-block;
  max-width: 260px;
}
.thumb2:hover .thumb2_overlay {
  opacity: 1;
}
.thumb2:hover .thumb2_overlay_cnt {
  top: 50%;
  opacity: 1;
}
@media (max-width: 767px) {
  .thumb2 {
    width: 100%;
  }
}

/*========================================================
                     HEADER  Section
=========================================================*/
header {
  background: url(../images/header_bg.jpg) center no-repeat;
  background-size: cover;
}
header .brand {
  float: left;
  margin-left: 24px;
}
header .nav {
  float: right;
  margin-right: 65px;
}
@media (max-width: 1199px) {
  header {
    text-align: center;
  }
  header .brand, header .nav {
    float: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  header .brand {
    margin-top: 35px;
  }
}

/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #fff;
}
main .count {
  font-size: 176px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -3.5px;
  color: #fff;
}
@media (min-width: 768px) and (max-width: 979px) {
  main .count {
    font-size: 134px;
  }
}
@media (max-width: 479px) {
  main .count {
    font-size: 128px;
  }
}

/*==================      Well     ======================*/
.well {
  padding-top: 149px;
  padding-bottom: 140px;
}

.well2 {
  padding-top: 172px;
  padding-bottom: 185px;
}

.well3 {
  padding-top: 61px;
  padding-bottom: 65px;
}

.well4 {
  padding-top: 84px;
  padding-bottom: 81px;
}

.well5 {
  padding-top: 96px;
  padding-bottom: 112px;
}

.well6 {
  padding-top: 73px;
  padding-bottom: 108px;
}

.well7 {
  padding-top: 108px;
  padding-bottom: 164px;
}

.ins1 {
  padding-bottom: 166px;
}

.ins2 {
  padding-bottom: 176px;
}

.ins3 {
  padding-bottom: 98px;
}

.ins4 {
  padding-bottom: 18px;
}

.ins5 {
  padding-bottom: 55px;
}

@media (max-width: 979px) {
  [class*="well"] {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  [class*="ins"] {
    padding-bottom: 50px;
  }
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  padding-top: 115px;
  padding-bottom: 107px;
  background: url(../images/bg1.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}
footer .brand:hover {
  color: inherit;
}
footer .brand_name {
  font-size: 34px;
  line-height: 60px;
  font-family: 'Pacifico', sans-serif;
  color: #fff;
}
footer .copyright {
  color: #f2f2f2;
}
footer .copyright a:hover {
  text-decoration: underline;
  color: #302e33;
}
footer * + .copyright {
  margin-top: 16px;
}
footer address {
  margin-top: 9px;
}
footer dt,
footer dd {
  display: inline-block;
}
footer a[href^="callto:"]:hover, footer .copyright a:hover {
  color: #302e33;
}
footer form + .inline-list {
  margin-top: 22px;
}
@media (min-width: 768px) and (max-width: 979px) {
  footer dl {
    font-size: 14px;
  }
  footer a[href^="callto:"] {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  footer {
    padding-top: 50px;
  }
  footer form {
    display: inline-block;
  }
  footer .copyright {
    font-size: 14px;
  }
}
