Django==1.9.7
django-compressor==1.5
django-debug-toolbar==1.4
django-extensions==1.6.7
ipython==4.2.0
six==1.10.0
sqlparse==0.1.19
djangorestframework==3.3.3
django-cors-headers==1.1.0
gunicorn==19.7.1
