{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="grid_6 mobile-center">
                <div class="brand">
                    <h1 class="brand_name"><a href="./">suspended ceilings</a></h1>
                </div>
                <div class="copyright">Suspended ceilings © <span id="copyright-year"></span>&nbsp;&nbsp;<a
                        href="index-6.html">Privacy Policy</a>
                </div>
            </div>
            <div class="grid_3">
                <address>9863 - 9867 Mill Road,<br/>Cambridge, MG09 99HT</address>
                <dl>
                    <dt>Freephone:</dt>
                    <dd>&nbsp;<a href="callto:#">+1 800 559 6580</a></dd>
                </dl>
                <dl>
                    <dt>Fax:</dt>
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="callto:#">+1 800 559
                        6580</a></dd>
                </dl>
            </div>
            <div class="grid_3 subscribe mobile-center">
                <form method="post" action="bat/rd-mailform.php" class="mailform">
                    <input type="hidden" name="form-type" value="contact">
                    <fieldset>
                        <label>
                            <input type="text" name="email" placeholder="Signup for mail"
                                   data-constraints="@Email @NotEmpty">
                        </label>
                        <div class="mfControls">
                            <button type="submit">ok</button>
                        </div>
                    </fieldset>
                </form>
                <ul class="inline-list">
                    <li><a href="#" class="fa-twitter"></a></li>
                    <li><a href="#" class="fa-google-plus-square"></a></li>
                    <li><a href="#" class="fa-pinterest"></a></li>
                    <li><a href="#" class="fa-facebook-square"></a></li>
                    <li><a href="#" class="fa-linkedin"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
