{% load static %}
<header>
    <div class="camera_container">
        <div id="camera" class="camera_wrap">
            <div data-src="{% static 'images/page-1_slide01.jpg' %}">
                <div class="camera_caption fadeIn"></div>
            </div>
            <div data-src="{% static 'images/page-1_slide02.jpg' %}">
                <div class="camera_caption fadeIn"></div>
            </div>
            <div data-src="{% static 'images/page-1_slide03.jpg' %}">
                <div class="camera_caption fadeIn"></div>
            </div>
            <div data-src="{% static 'images/page-1_slide04.jpg' %}">
                <div class="camera_caption fadeIn"></div>
            </div>
        </div>
        <h2>Quality<em>The highest quality workmanship</em></h2>
    </div>
    <div id="stuck_container" class="stuck_container">
        <div class="brand">
            <h1 class="brand_name"><a href="./">suspended ceilings</a></h1>
            <p class="brand_slogan">Progressive ceiling & bulkhead contractor</p>
        </div>
        <nav class="nav">
            <ul data-type="navbar" class="sf-menu">
                <li class="active"><a href="./">Home</a>
                </li>
                <li><a href="index-1.html">About</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Conse ctetur</a></li>
                        <li><a href="#">Elit sed do eiusmod</a>
                            <ul>
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Conse adipisicing</a></li>
                                <li><a href="#">Sit amet dolore</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Incididunt ut labore</a></li>
                        <li><a href="#">Et dolore magna</a></li>
                        <li><a href="#">Ut enim ad minim</a></li>
                    </ul>
                </li>
                <li><a href="index-2.html">Services</a>
                </li>
                <li><a href="index-3.html">Gallery</a>
                </li>
                <li><a href="index-4.html">News</a>
                </li>
                <li><a href="index-5.html">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
