{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block description %}This page is an awesome home page.{% endblock %}


{% block content %}
    <!--experiance-area-->
    <section class="row our-company-area sectpad" id="about-us">
        <div class="container">
            <div class="row m0">
                <div class="col-md-5">
                    <div class="row m0 company-contact">
                        <div class="row m0 question-box">
                            <h2>Napisz do nas</h2>
                            <form class="from-contact">
                                <input type="text" class="form-control" placeholder="Imię i nazwisko">
                                <input type="email" class="form-control" placeholder="Email">
                                <textarea class="form-control textarea" placeholder="Wiadomość"></textarea>
                                <button type="submit" class="btn btn-default button submit">
                                    Wyślij<i class="fa fa-angle-double-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 company-info">
                    <div class="row m0 section_header">
                        <h2>O nas</h2>
                        <p>Jesteśmy firmą świadczącą profesjonalne usługi stolarskie, działającą
                            na rynku już od ponad 25 lat. Oferujemy specjalistyczne doradztwo oraz
                            wykonanie przy użyciu najwyższej klasy materiałów. Głównie
                        </p>
                    </div>
                    <ul class="content-list">
                        <li><a href="#services">Drzwi</a></li>
                        <li><a href="#services">Schody</a></li>
                        <li><a href="#services">Listwy przypodłogowe</a></li>
                        <li><a href="#services">Tarasy</a></li>
                        <li><a href="#services">Meble</a></li>
                        <li><a href="#services">Elementy stolarki nietypowej</a></li>
                    </ul>
                    <div class="info-text">
                        <h4>Nasi pracownicy</h4>
                        <p>Nasi pracownicy są wysoko wykwalifikowanymi ludźmi,
                            którzy wykonują swoją pracę z pasją oraz są z nami od wielu lat</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <services-d services="services"></services-d>
    <!-- Projects -->
    <projects-d projects="projects"></projects-d>
    <!--work-shop-->


    <section class="row fluid-work-area">
        <div class="work-image">
            <img src="{% static 'images/workshop/work.jpg' %}" alt="">
        </div>
        <div class="work-promo">
            <div class="promo-content">
                <h2>Witamy w Kajax</h2>
                <p>Zrealizujemy każdy Twój pomysł w dowolnym rodzaju drewna, dodatkowo wzbogacając je elementami metalowymi lub też szkłem.
                    Bardzo chętnie również zaproponujemy własne rozwiązania, które są popartę wieloletnim doświadczeniem.

                </p>
                <h3>Zadzwoń też jeśli szukasz współpracy do produkcji masowej!</h3>
{#                <ul class="nav">#}
{#                    <li>Complete Savety Analysis</li>#}
{#                    <li>Complete Savety Analysis</li>#}
{#                    <li>Certified Company Since 2005</li>#}
{#                    <li>Certified Company Since 2005</li>#}
{#                </ul>#}
            </div>
        </div>
    </section>



    <!--contact-->
    <section class="row touch landing-page-contact" id="contact">
        <div class="sectpad touch_bg">
            <div class="container">
                <div class="row m0 color section_header">
                    <h2>Skontaktuj się z nami</h2>
                    <p>Jeśli jesteś zainteresowany naszymi usługami, chciałbyś poznać orientacyjną wycenę lub masz
                        jakieś pytania to zadzwoń, napisz email-a lub wypełnij poniższy formularz, a gwarantujemy
                        odpowiedź do 24 godzin</p>
                </div>

                <div class="row touch_middle">
                    <div class="col-md-4 open_hours">
                        <div class="row m0 touch_top">
                            <ul class="nav">
                                <li class="item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <i class="fa fa-map-marker"></i>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {{ company_data.location }}
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <i class="fa fa-envelope-o"></i>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {{ company_data.email }}
                                        </div>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <i class="fa fa-phone"></i>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {{ company_data.phone }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 input_form">
                        <form action="contact_process.php" method="post" id="contactForm">
                            <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Imię i Nazwisko">
                            <input type="email" class="form-control" id="youremail" name="Twój email"
                                   placeholder="Email">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Tytuł">
                            <textarea class="form-control" rows="6" id="message" name="Wiadomość"
                                      placeholder="Wiadoność"></textarea>
                            <div class="row m0">
                                <button type="submit" class="btn btn-default submit">Wyślij</button>
                            </div>
                        </form>
                        <div id="success"><p>Twoja wiadomość została pomyślnie wysłąna!.</p></div>
                        <div id="error"><p>Coś jest nie tak.... spróbuj wysłać maila lub skontaktuj się pod podany numer telefonu</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--MapBox-->
    <section class="map">
        <div id="mapBox" class="row m0" data-lat="54.594389" data-lon="18.163520" data-zoom="13"></div>
    </section>

    <!-- clients -->
    <clients-d clients="clients"></clients-d>
    <!--great-work-->
    <section class="emergency-contact">
        <div class="left-side">
            <div class="content">
                <h3>Jeśli interesuje Cię coś spoza listy naszych usług,</h3>
                <h3>po prostu zadzwoń i zapytaj!</h3>
                <a href="tel:{{ company_data.phone }}" class="phone"><img src="{% static 'images/great-work/phone.png' %}" alt="">
                    {{ company_data.phone }}
                </a>
                <a href="email:{{ company_data.email }}" class="email"><img src="{% static 'images/great-work/email.png' %}" alt="">{{ company_data.email }}</a>
            </div>
        </div>
        <div class="right-side">
            <img src="{% static 'images/great-work/right-img.jpg' %}" alt="">
        </div>
    </section>

{% endblock %}