{% extends 'base.html' %}
{% load static %}
{% block title %}Manitou Artur Jagnow{% endblock %}

{% block description %}Oferujemy szeroki zakres usług stolarkich w tym schody, drzwi zewnętrzne oraz wewnętrzne, meble,
    kuchnie na wymiar, tarasy {% endblock %}
{% block keywords %} schody Trójmiasto , schody Wejherowo, schody Pomorze, schody Pomorskie, Drzwi Trojmiasto, drzwi
    pomorze, drzwi wejherowo, meble zewnętrzne, tarasy, kuchnie, Trójmiasto stolarz,{% endblock %}


{% block content %}
    <main ng-controller="mainCtrl">
        <section class="bg-image center ins1">
            <div class="container">
                <ul class="index-list">
                    <li><img src="{% static 'images/page-1_img01.jpg' %}" alt="">
                        <h5><a href="#part-1">Manitou 1</a></h5>
                        <p>Aenean aucto. wisi et urnvolutpat sac turpis. Integertrum anes tibulum libe.</p>
                    </li>
                    <li><img src="{% static 'images/page-1_img02.jpg' %}" alt="">
                        <h5><a href="#part-2">Manitou 2</a></h5>
                        <p>Mauris fermeum dictum magna loreet aliquam leotlus dolo rib veifend elit.</p>
                    </li>
                    <li><img src="{% static 'images/page-1_img03.jpg' %}" alt="">
                        <h5><a href="#part-3">Dźwig</a></h5>
                        <p>Aenean aucto. wisi et urnvoatsac urpis. Integertrum antecues tibulum libe.</p>
                    </li>
                    <li><img src="{% static 'images/page-1_img04.jpg' %}" alt="">
                        <h5><a href="#equip">Wyposażenie</a></h5>
                        <p>Mauris fermeum dictuagna. Sed loreet aliquam leote llusbus eget e ntund elit.</p>
                    </li>
                </ul>
            </div>
        </section>

        <lifters-d lifters="lifters"></lifters-d>

        <section class="well center" id="equip">
            <div class="container">
                <h3>DODATKI DO PODNOŚNIKOW</h3>
                <ul class="product-list row">
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-check-mark4"></div>
                        <h5>Integertrum ante</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-brightness14"></div>
                        <h5>Sed loreet aliquam</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-heart365"></div>
                        <h5>Aenean aucto</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-present34"></div>
                        <h5>Mauris ferme</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-umbrella"></div>
                        <h5>Integertrum ante</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-star206"></div>
                        <h5>Sed loreet aliquam</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-magnifying-glass17"></div>
                        <h5>Aenean aucto</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                    <li class="grid_3"><a href="#">
                        <div class="icon fl-sympletts-clock162"></div>
                        <h5>Mauris ferme</h5>
                        <p>Aenean aucto. wisi et urnvolutpatsac turpis. Integertrum ante eu lacues tibulum libe.</p></a>
                    </li>
                </ul>
                <a href="#" class="btn2">All services</a>
            </div>
        </section>
        {#        <section class="well4 center">#}
        {#            <div class="container">#}
        {#                <h3>News</h3>#}
        {#                <div class="row off1">#}
        {#                    <article class="grid_3 post"><a href="#"><img src="{% static 'images/page-1_img13.jpg' %}" alt="">#}
        {#                        <div class="post_cnt">#}
        {#                            <h5>Integertrum ante</h5>#}
        {#                            <time datetime="2015-10-03">3 Oct 2015</time>#}
        {#                            <span class="comments">0 Comments</span>#}
        {#                        </div>#}
        {#                    </a></article>#}
        {#                    <article class="grid_3 post"><a href="#"><img src="{% static 'images/page-1_img14.jpg' %}" alt="">#}
        {#                        <div class="post_cnt">#}
        {#                            <h5>Sed loreet aliquam</h5>#}
        {#                            <time datetime="2015-10-03">3 Oct 2015</time>#}
        {#                            <span class="comments">0 Comments</span>#}
        {#                        </div>#}
        {#                    </a></article>#}
        {#                    <article class="grid_3 post"><a href="#"><img src="{% static 'images/page-1_img15.jpg' %}" alt="">#}
        {#                        <div class="post_cnt">#}
        {#                            <h5>Aenean aucto</h5>#}
        {#                            <time datetime="2015-10-03">3 Oct 2015</time>#}
        {#                            <span class="comments">0 Comments</span>#}
        {#                        </div>#}
        {#                    </a></article>#}
        {#                    <article class="grid_3 post"><a href="#"><img src="{% static 'images/page-1_img16.jpg' %}" alt="">#}
        {#                        <div class="post_cnt">#}
        {#                            <h5>Mauris ferme</h5>#}
        {#                            <time datetime="2015-10-03">3 Oct 2015</time>#}
        {#                            <span class="comments">0 Comments</span>#}
        {#                        </div>#}
        {#                    </a></article>#}
        {#                </div>#}
        {#                <a href="#" class="btn2 off2">All News</a>#}
        {#            </div>#}
        {#        </section>#}
        {#        <section data-url="images/bg2.jpg" data-mobile="true" class="well5 center parallax">#}
        {#            <div class="container">#}
        {#                <div class="row">#}
        {#                    <div class="grid_4">#}
        {#                        <p class="count">350</p>#}
        {#                        <h5>Tweets</h5><a href="#" class="btn btn_hover">Read more</a>#}
        {#                    </div>#}
        {#                    <div class="grid_4">#}
        {#                        <p class="count">500</p>#}
        {#                        <h5>Facebook likes</h5><a href="#" class="btn btn_hover">Read more</a>#}
        {#                    </div>#}
        {#                    <div class="grid_4">#}
        {#                        <p class="count">245</p>#}
        {#                        <h5>Google +</h5><a href="#" class="btn btn_hover">Read more</a>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}
    </main>


{% endblock %}